@import "~@angular/material/theming";

@mixin alert-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);

  .alert-success {
    color: mat-contrast($primary, 400);
    background-color: mat-color($primary);
  }

  .alert-info {
    color: mat-contrast($warn, 100);
    background-color: mat-color($warn, 100);
  }

  .alert-warning {
    color: mat-contrast($warn, 400);
    background-color: mat-color($warn);
  }

  .alert-success,
  .alert-info,
  .alert-warning {
    display: flex;
    justify-content: center;
    word-break: break-word;

    simple-snack-bar {
      justify-content: center;
    }
  }

  .text-success {
    color: mat-color($primary);
  }

  .text-warning {
    color: mat-color($accent);
  }

  .text-danger {
    color: mat-color($warn);
  }
}
