@import "~@angular/material/theming";

@mixin card-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);

  mat-card.altchains {
    background-color: mat-color($accent);
    color: mat-contrast($accent, 400);

    .mat-badge-content {
      color: transparent;
    }

    &:hover {
      background-color: mat-color($accent, 200);
      color: mat-contrast($accent, 200);
      cursor: pointer;
    }
  }
}
