@import "~@angular/material/theming";

@mixin card-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);

  mat-card {
    .mat-table {
      width: 100%;
    }

    &.altchains {
      background-color: inherit;
      color: #e0e0e0;

      .mat-badge {
        .mat-badge-content {
          color: transparent;
          box-shadow: 0px 0px 4px mat-color($primary);
        }

        &.mat-badge-warn .mat-badge-content {
          box-shadow: 0px 0px 4px mat-color($warn);
        }
      }

      &.is-active {
        background-color: #404463;
        color: white;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
