@import "~@angular/material/theming";

@mixin dialog-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);

  .dialog,
  .logs-dialog {
    .mat-dialog-container {
      overflow: hidden;
      font-size: 16px;
      padding: 6px 1em 1em;
      min-width: 200px;

      .mat-dialog-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        min-height: 38px;
        margin: 0 0 6px;
      }

      .mat-dialog-content {
        border-top: 1px solid mat-color($foreground, divider);
        box-shadow: inset 0px 4px 4px -4px rgb(0 0 0 / 25%);
        overflow: hidden;
        height: 100%;
        padding: 1em;
      }

      .mat-dialog-actions {
        padding-bottom: 20px;
      }

      .dialog-content-subtitle {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        padding-bottom: 1em;
      }
    }

    .mat-form-field {
      .input-link {
        color: mat-color($primary);
        text-align: center;
        font-size: 12px;
        cursor: pointer;
      }
    }
  }

  .logs-dialog .mat-dialog-content {
    font-size: 12px;
    font-family: Courier Prime, monospace;
  }

  .mat-focused .mat-form-field-required-marker {
    color: inherit;
  }
}
