@import "~@angular/material/theming";

@mixin drawer-theme($theme) {
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);

  .mat-drawer {
    background-color: mat-color($accent, 500);
    color: mat-contrast($accent, 500);
  }

  .mat-drawer-container {
    background-color: mat-color($background, background);
  }
}
