@import "~@angular/material/theming";

@mixin drawer-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);

  .mat-drawer {
    background-color: mat-color($primary, 500);
    color: mat-contrast($primary, 500);
  }

  .mat-drawer-container {
    background-color: mat-color($background, background);
  }
}
