<mat-toolbar style="margin-bottom: 0;">
  <mat-toolbar-row>

    <h2>Ethereum (ETH)</h2>

    <button mat-button type="button" aria-label="Preferences" matTooltip="Preferences" (click)="openCoinConfigurationDialog()"
      [disabled]="isLoadingConfiguration">
      <mat-icon aria-hidden="true">settings</mat-icon>
      <span>Coin Configuration</span>
    </button>

  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row" fxLayoutAlign="center center" style="width: 100%;">
  <div fxLayout="row" fxLayoutAlign="end center" style="min-width: 250px;" class="flag flag-accent">
    <span style="font-size: 20px; padding-left: 1em; width: 100%; text-align: center;">Mine</span>

    <div fxLayout="row" fxLayoutAlign="space-between center" style="border-left: 1px white solid;">
      <button mat-icon-button type="button" [matMenuTriggerFor]="moreMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
</div>

<h1 fxLayout="row" fxLayoutAlign="space-between baseline" fxLayoutGap="5px" [formGroup]="form">
  <b>Operations</b>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Status:</mat-label>
      <mat-select formControlName="filter" (selectionChange)="changeStatusFilter($event)">
        <mat-option value="" disabled>Choose</mat-option>
        <mat-option *ngFor="let filter of filters" [value]="filter">{{ filter }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</h1>

<vbk-progress-indicator [showSpinner]="isLoading"></vbk-progress-indicator>

<ng-container *ngIf="!isLoading">
  <mat-card>
    <mat-card-content>
      <!-- Table -->
      <vbk-operations-table [dataSource]="operationsDataSource" (pageChange)="pageChangeEmit($event)" [isLoading]="tableLoading"
        [pageOffset]="pageOffset" [defaultPageSize]="pageLimit" [totalLines]="operationsTotalCount"
        [selectedOperationId]="selectedOperationId" [operationWorkflows]="operationWorkflows">
      </vbk-operations-table>
    </mat-card-content>
  </mat-card>
</ng-container>

<!-- Mine menu -->
<mat-menu #moreMenu="matMenu">
  <ng-template matMenuContent>

    <a mat-menu-item [routerLink]="['/']">
      <span>mine 1</span>
    </a>

    <a mat-menu-item [routerLink]="['/']">
      <span>mine 2</span>
    </a>

  </ng-template>
</mat-menu>