<div mat-dialog-title>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px" style="width: 100%;">
    <span>Operation {{data.operationId}}
      <ng-container *ngIf="data?.level">
        {{ capitalizeFirstLetter(data.level)}}
      </ng-container> Logs
    </span>
    <button mat-icon-button mat-dialog-close class="no-hover">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div mat-dialog-content>
  <div style="margin: 0 0.5em; overflow: auto;">
    <div *ngFor="let log of data.logs">{{log}}</div>
  </div>
</div>