
<h1 class="mat-display-1 title">Operations</h1>

<button mat-fab (click)="openMineDialog()" class="floatingButton">
  <mat-icon>add</mat-icon>
</button>

<span *ngIf="operations.length == 0">There are no running operations</span>

<table mat-table *ngIf="operations.length > 0"
       [dataSource]="operations" [trackBy]="trackByOperationId"
       multiTemplateDataRows
       class="mat-elevation-z2">
  <ng-container *ngFor="let column of columnsToDisplay" matColumnDef="{{column}}">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let operation"> {{operation[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let operation" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail" [@detailExpand]="operation.operationId == selectedOperationId ? 'expanded' : 'collapsed'">

        <table mat-table
               *ngIf="operationWorkflows[operation.operationId]"
               [dataSource]="operationWorkflows[operation.operationId].stages"
               class="mat-elevation-z8">

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element" [class.done]="element.status == 'DONE'" [class.current]="element.status == 'CURRENT'" [class.failed]="element.status == 'FAILED'"> {{element.status}} </td>
          </ng-container>

          <ng-container matColumnDef="taskName">
            <th mat-header-cell *matHeaderCellDef> Task </th>
            <td mat-cell *matCellDef="let element" [class.current]="element.status == 'CURRENT'" [class.failed]="element.status == 'FAILED'"> {{element.taskName}} </td>
          </ng-container>

          <ng-container matColumnDef="extraInformation">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element" [class.current]="element.status == 'CURRENT'" [class.failed]="element.status == 'FAILED'"> {{element.extraInformation}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['status', 'taskName', 'extraInformation']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['status', 'taskName', 'extraInformation'];"></tr>
        </table>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let operation; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="selectedOperationId === operation.operationId"
      (click)="selectOperation(operation)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
