
.floatingButton {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 1000;
}

.mat-expansion-panel-spacing {
  margin-top: 1px;
  margin-bottom: 1px;
}



.done {
  background-color: greenyellow
}

.current {
  background-color: yellow
}

.failed {
  background-color: red
}






table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  //display: flex;
}

mat-button-toggle-group {
  margin-left: 10px
}
