body {
  margin: 0;

  mat-form-field.mat-form-field {
    font-size: 14px;

    &:not(.mat-paginator-page-size-select) {
      width: 100%;
    }

    .mat-form-field-prefix,
    .mat-form-field-suffix {
      align-self: center;
    }
  }

  .overflow-container {
    display: block;
    overflow: auto;
  }

  a,
  button {
    &:not(.mat-mini-fab):not(.mat-icon-button) .mat-button-wrapper mat-icon {
      margin-right: 0.5em;
    }

    &.no-hover .mat-button-focus-overlay {
      background-color: transparent !important;
    }
  }

  .mat-divider {
    width: 100%;
  }

  .logs-dialog {
    .mat-dialog-container {
      font-size: 11px;
      font-family: Courier Prime, Roboto;
    }
  }
}
