body {
  margin: 0;

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  mat-form-field.mat-form-field {
    font-size: 14px;

    &:not(.mat-paginator-page-size-select) {
      width: 100%;
    }

    .mat-form-field-prefix,
    .mat-form-field-suffix {
      align-self: center;
    }
  }

  .overflow-container {
    display: block;
    overflow: auto;
  }

  a,
  button {
    &:not(.mat-mini-fab):not(.mat-icon-button) .mat-button-wrapper mat-icon {
      margin-right: 10px;
    }

    &.no-hover .mat-button-focus-overlay {
      background-color: transparent !important;
    }
  }

  .mat-divider {
    width: 100%;
  }
}
