<h2 mat-dialog-title>
  <span>Mine Custom Block</span>
</h2>

<div mat-dialog-content>
  <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="15px" [formGroup]="form" novalidate>

    <mat-form-field appearance="outline">
      <mat-label>Block</mat-label>
      <input matInput onmousewheel type="number" min="0" formControlName="blockNumber" required
        (keydown.enter)="form.valid ? onSave() : null" />

      <mat-error *ngIf="form.get('blockNumber').errors?.min">Not a valid number</mat-error>
    </mat-form-field>
  </div>
</div>

<!-- Action buttons -->
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">

  <button mat-raised-button type="button" (click)="onCancel()" color="warn">
    <span>Cancel</span>
  </button>

  <button mat-raised-button type="button" (click)="onSave()" color="primary" [disabled]="form?.invalid">
    <span>Mine</span>
  </button>
</div>