<div mat-dialog-title>
  <span>Custom Mining Operation</span>
</div>

<div mat-dialog-content>
  <form fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="15px" [formGroup]="form" novalidate>

    <mat-form-field appearance="outline">
      <mat-label>Block</mat-label>
      <input matInput onmousewheel type="number" min="1" [max]="maxNumber" formControlName="blockNumber" required
        (keydown)="disableNumberFormat($event)" (input)="checkNumberFormat($event, 'blockNumber')" />

      <mat-error *ngIf="form.get('blockNumber').errors?.required">Required</mat-error>
      <mat-error *ngIf="form.get('blockNumber').errors?.min">Not a valid number</mat-error>
      <mat-error *ngIf="form.get('blockNumber').errors?.max">Not a valid number (max = {{maxNumber.toLocaleString()}})</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fee per byte</mat-label>
      <input matInput onmousewheel type="number" min="1" formControlName="feePerByte" required (keydown.tab)="enableFeeInput()"
        (keydown)="disableNumberFormat($event)" (input)="checkNumberFormat($event, 'feePerByte')" />
      <span matSuffix>&nbsp; VBK (Atomic units)</span>

      <mat-error *ngIf="form.get('feePerByte').errors?.min">Not a valid number</mat-error>
      <mat-error *ngIf="form.get('feePerByte').errors?.max">Not a valid number (max {{form.get('feePerByte').errors?.max?.max}})
      </mat-error>
      <mat-error *ngIf="form.get('feePerByte').errors?.required">Required</mat-error>
    </mat-form-field>

    <ng-container *ngIf="form.controls['maxFee'].disabled">
      <button mat-raised-button type="button" (click)="enableFeeInput()" color="primary" style="width: 100%;">
        <span>Toggle Max Fee Settings</span>
      </button>
    </ng-container>

    <mat-form-field appearance="outline">
      <mat-label>Max fee</mat-label>
      <input matInput onmousewheel type="number" min="1" formControlName="maxFee" required (keydown)="disableNumberFormat($event)"
        (input)="checkNumberFormat($event, 'maxFee')" />
      <span matSuffix>&nbsp; VBK (Atomic units)</span>

      <mat-error *ngIf="form.get('maxFee').errors?.min">Not a valid number</mat-error>
      <mat-error *ngIf="form.get('maxFee').errors?.max">Not a valid number (max {{form.get('maxFee').errors?.max?.max}})</mat-error>
      <mat-error *ngIf="form.get('maxFee').errors?.required">Required</mat-error>
    </mat-form-field>
  </form>
</div>

<!-- Action buttons -->
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">

  <button mat-raised-button type="button" (click)="onCancel()" color="warn">
    <span>Cancel</span>
  </button>

  <button mat-raised-button type="button" (click)="onSave()" color="primary" [disabled]="form?.invalid">
    <span>Mine</span>
  </button>
</div>