<div mat-dialog-title>
  <span>{{isDeposit ? 'Deposit' : 'Withdraw'}} (VBK)</span>
</div>

<div mat-dialog-content>
  <ng-container *ngIf="isDeposit; else withdrawBlock">
    <mat-form-field appearance="outline">
      <mat-label>Wallet Address</mat-label>
      <input matInput type="text" [ngModel]="vbkAddress" readonly style="text-align: center;" />

      <mat-icon matSuffix color="primary" matTooltip="Copy" [cdkCopyToClipboard]="vbkAddress" (click)="showSuccess()"
        style="cursor: pointer;">
        content_copy
      </mat-icon>
    </mat-form-field>

  </ng-container>

  <ng-template #withdrawBlock>

    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" [formGroup]="form" novalidate>

      <mat-form-field appearance="outline">
        <mat-label>Recipient's wallet address</mat-label>
        <input matInput type="text" maxlength="50" pattern="[a-zA-Z0-9]+" formControlName="destinationAddress" required [readOnly]="tx" />

        <mat-hint>Please verify the wallet address. We cannot refund an incorrect withdrawal.</mat-hint>

        <mat-error *ngIf="form.get('destinationAddress').errors?.maxlength">Up to
          {{form.get('destinationAddress').errors?.maxlength.requiredLength}}
          characters </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Withdrawal amount</mat-label>
        <input matInput type="number" min="0" [max]="vbkBalance" formControlName="amount" (input)="checkNumberFormat($event)"
          (keydown)="disableNumberFormat($event)" step="0.00000001" required [readOnly]="tx" />

        <span matSuffix>&nbsp; VBK</span>

        <mat-hint (click)="setMaxAmount()" [ngClass]="{'available-funds': vbkBalance}" align="end">Available:
          {{vbkBalance || 0}} VBK
        </mat-hint>

        <mat-error *ngIf="form.get('amount').errors?.min">Not a valid number</mat-error>
        <mat-error *ngIf="form.get('amount').errors?.max">Not enough funds</mat-error>
      </mat-form-field>

      <ng-container *ngIf="tx">
        <mat-form-field appearance="outline">
          <mat-label>Transaction link</mat-label>
          <input matInput class="input-link" type="text" [value]="tx" readonly (click)="openLink()" />

          <mat-icon matSuffix color="primary" matTooltip="Open" (click)="openLink()" style="cursor: pointer;">
            link
          </mat-icon>
        </mat-form-field>
      </ng-container>
    </form>
  </ng-template>
</div>

<!-- Action buttons -->
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">

  <ng-container *ngIf="isDeposit; else withdrawActionBlock">
    <div fxFlex></div>

    <button mat-raised-button type="button" (click)="onCancel()" color="primary">
      <span>Done</span>
    </button>
  </ng-container>

  <ng-template #withdrawActionBlock>

    <ng-container *ngIf="!tx; else doneBtnBlock">
      <button mat-raised-button type="button" (click)="onCancel()" color="warn">
        <span>Cancel</span>
      </button>

      <button mat-raised-button type="button" (click)="onWithdraw()" color="primary"
        [disabled]="form?.invalid || submitInProgress || form?.value?.amount === 0">
        <span>Withdraw VBK</span>
      </button>
    </ng-container>

    <ng-template #doneBtnBlock>
      <div fxFlex></div>
      <button mat-raised-button type="button" (click)="onCancel()" color="primary">
        <span>Done</span>
      </button>
    </ng-template>

  </ng-template>
</div>