<h1 mat-dialog-title>
  <span>{{isDeposit ? 'Deposit' : 'Withdrawal'}} (VBK)</span>
</h1>

<div mat-dialog-content>

  <mat-card>
    <mat-card-header>
      <mat-card-title>VeriBlock (VBK)</mat-card-title>
    </mat-card-header>


    <mat-card-content>
      <mat-divider></mat-divider>

      <ng-container *ngIf="isDeposit; else withdrawBlock">
        <mat-form-field appearance="outline">
          <mat-label>Wallet Address</mat-label>
          <input matInput type="text" [ngModel]="vbkAddress" readonly />

          <mat-icon matSuffix color="primary" matTooltip="Copy" [cdkCopyToClipboard]="vbkAddress" style="cursor: pointer;">
            content_copy
          </mat-icon>
        </mat-form-field>

      </ng-container>

      <ng-template #withdrawBlock>

        <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="15px" [formGroup]="form" novalidate>

          <mat-form-field appearance="outline">
            <mat-label>Recipient's wallet address</mat-label>
            <input matInput type="text" maxlength="50" formControlName="destinationAddress" required />

            <mat-hint>Please verify the wallet address. We cannot refund an incorrect withdrawal.</mat-hint>

            <mat-error *ngIf="form.get('destinationAddress').errors?.maxlength">Up to
              {{form.get('destinationAddress').errors?.maxlength.requiredLength}}
              characters </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Withdrawal amount</mat-label>
            <input matInput type="number" min="0" formControlName="amount" required />

            <span matSuffix> VBK </span>

            <mat-hint (click)="setMaxAmount()" style="cursor: pointer; color: blue; text-decoration: underline;" align="end">Available:
              {{vbkBalance }} VBK
            </mat-hint>

            <mat-error *ngIf="form.get('amount').errors?.min">Not a valid number</mat-error>
            <mat-error *ngIf="form.get('amount').errors?.max">Not a valid number</mat-error>
          </mat-form-field>
        </div>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>

<!-- Action buttons -->
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" style="padding-bottom:20px;">

  <ng-container *ngIf="isDeposit; else withdrawActionBlock">
    <div fxFlex></div>

    <button mat-raised-button type="button" (click)="onCancel()" color="primary">
      <span>Done</span>
    </button>
  </ng-container>

  <ng-template #withdrawActionBlock>

    <button mat-raised-button type="button" (click)="onCancel()" color="warn">
      <span>Cancel</span>
    </button>

    <button mat-raised-button type="button" (click)="onWithdraw()" color="primary" [disabled]="form?.invalid || submitInProgress">
      <span>Withdraw VBK</span>
    </button>
  </ng-template>
</div>