<ng-container *ngIf="!dataSource?.data?.length && !isLoading; else operationsTableBlock">
  <mat-card class="alert-info">
    <mat-card-content style="display: flex;">
      <mat-icon size="lg" style="padding-right: 5px;">info</mat-icon>
      <span>There are no operations matching the current filter</span>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #operationsTableBlock>

  <mat-paginator [length]="totalLines" [pageSize]="defaultPageSize" [pageIndex]="pageOffset/defaultPageSize"
    [pageSizeOptions]="pageSizeOptions" (page)="pageChangeEvent($event)" [disabled]="isLoading"></mat-paginator>

  <div [class.overflow-container]="true">

    <table mat-table [dataSource]="dataSource" multiTemplateDataRows>

      <!-- Id Column -->
      <ng-container matColumnDef="operationIdColumn">
        <th mat-header-cell *matHeaderCellDef>
          OPERATION ID
        </th>
        <td mat-cell *matCellDef="let element">
          {{element?.operationId}}
        </td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="stateColumn">
        <th mat-header-cell *matHeaderCellDef>STATE</th>
        <td mat-cell *matCellDef="let element">
          {{element?.state}}
        </td>
      </ng-container>

      <!-- Task Column -->
      <ng-container matColumnDef="taskColumn">
        <th mat-header-cell *matHeaderCellDef>Task</th>
        <td mat-cell *matCellDef="let element">
          {{element?.task}}
        </td>
      </ng-container>

      <!-- More Column -->
      <ng-container matColumnDef="moreColumn">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button type="button" [matTooltip]=" selectedOperationId === element?.operationId ? 'Collapse' : 'Expand'"
            (click)="selectOperation(element)">
            <mat-icon>{{selectedOperationId === element?.operationId ? 'unfold_less' : 'unfold_more'}}</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Operations Column -->
      <ng-container matColumnDef="operationColumn">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns?.length + 1">
          <div class="element-operations-row" [@operationExpand]="changeOperationRowState(element)">

            <div style="padding-bottom: 1em;">

              <ng-container *ngIf="!operationWorkflows[element.operationId]; else operationsBlock">
                <vbk-progress-indicator [showSpinner]="true"></vbk-progress-indicator>
              </ng-container>

              <ng-template #operationsBlock>

                <table mat-table *ngIf="operationWorkflows[element.operationId]"
                  [dataSource]="operationWorkflows[element.operationId].stages" class="mat-elevation-z8">

                  <ng-container matColumnDef="statusColumn">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element">

                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" style="padding: 5px 0"
                        [class]="checkStatus(element?.status)">

                        <ng-container *ngIf="element?.status === 'CURRENT'; else iconBlock">
                          <mat-progress-spinner mode="indeterminate" color="accent" [diameter]="25"></mat-progress-spinner>
                        </ng-container>

                        <ng-template #iconBlock>
                          <mat-icon>{{ getIcon(element?.status)}}</mat-icon>
                        </ng-template>

                        <span>{{ element?.status }}</span>
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="taskColumn">
                    <th mat-header-cell *matHeaderCellDef> Task </th>
                    <!-- <td mat-cell *matCellDef="let element"> {{element?.taskName}} </td> -->
                    <td mat-cell *matCellDef="let element"> {{adjustLetters(element?.taskName)}} </td>
                  </ng-container>

                  <ng-container matColumnDef="detailsColumn">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.extraInformation}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="['taskColumn', 'detailsColumn', 'statusColumn']"></tr>
                  <tr mat-row *matRowDef="let row; columns: ['taskColumn', 'detailsColumn', 'statusColumn'];"></tr>
                </table>

                <button mat-button type="button" (click)="openLogsDialog('info')">Display Logs</button>
                <button mat-button type="button" (click)="openLogsDialog('debug')">Display Debug Logs</button>
              </ng-template>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" class="element-row"
        [class.expanded-row]="selectedOperationId === row?.operationId" class="clickable"></tr>

      <!-- Expanding operation -->
      <tr mat-row *matRowDef="let row; columns: ['operationColumn']" class="operations-row"></tr>
    </table>
    <vbk-progress-indicator [showSpinner]="isLoading"></vbk-progress-indicator>

  </div>

  <mat-paginator *ngIf="totalLines > defaultPageSize" [length]="totalLines" [pageSize]="defaultPageSize"
    [pageIndex]="pageOffset/defaultPageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageChangeEvent($event)" [disabled]="isLoading">
  </mat-paginator>
</ng-template>